/* fix issue with controls menu being hidden under fantasy companion input  header */
.application .controls-dropdown {
z-index:100;
}
.sweb-core {
    font-feature-settings: auto, normal;
    --white: #fff;
    --black: #000;
    --red: #8c160f;
    --table-color: rgba(111, 87, 1, .2);
    --table-color-tint: hsla(45, 37%, 94%, .3);
    --border-radius: 10px;
    --body-font-family: "EB Garamond", serif;
    --heading-font-family: Anton, sans-serif;
    --table-title-font-family: "Roboto Slab", sans-serif;
    --table-headers-font-family: "EB Garamond", serif;
    --table-summary-font-family: var(--table-headers-font-family);
    --quote-font-family: "Rock Salt", cursive;
}
.journal-sheet.swadefc-wrapper:not(.minimized) .window-header .configure-sheet {
    display: block !important;
}
/* Fix double header display of main page title */
.swadefc-wrapper .journal-page-header {
    display:none;
}
.red-label {
   color: var(--red);
   font-weight: bold; 
   text-transform: uppercase;
}
.red-label::after {
    content: ":";
}

/** HEADING **/
.swadefc h1 {
     font-size:2.2em;
}

/** TABLES **/
article.journal-entry-page .sweb-core table,
.swade-item-sheet .sheet-body .sweb-core table
{
    font-feature-settings: "lnum";
    border-radius: var(--border-radius);
    border-spacing: 0;
    font-variant-numeric: lining-nums;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
article.journal-entry-page .sweb-core .table-title th {
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
}
article.journal-entry-page .sweb-core .table-title th h3 {
    margin-top: 0.5em;
}
article.journal-entry-page .sweb-core .table-column-header th {
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    text-align: center;
}
article.journal-entry-page .sweb-core .table-column-header th h4 {
    color: var(--white);
    margin: .15em 0 .05em;
}
article.journal-entry-page .sweb-core table th {
    background-color: var(--red);
    color: var(--white);
    font-size: .7rem;
}
article.journal-entry-page .sweb-core aside table th {
    background-color: var(--black);
    color: var(--white);
}
.journal-sheet .journal-entry-content .journal-entry-pages .sweb-core table th.main-heading,
.swade-item-sheet .sheet-body .sweb-core table th.main-heading {
    background-color: var(--red);
    color: var(--white);
}
.journal-sheet .journal-entry-content .journal-entry-pages .sweb-core table th.bar-heading {
    background-color: unset;
    color: var(--black);
}
.journal-sheet .journal-entry-content .journal-entry-pages .sweb-core table th .no-class {
    grid-gap: 1em;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    display: grid;
}
.journal-sheet .journal-entry-content .journal-entry-pages .sweb-core table th .no-class:after,
.journal-sheet .journal-entry-content .journal-entry-pages .sweb-core table th .no-class:before
{
    content: "";
    background: var(--black);
    height: 3px;
}
article.journal-entry-page .sweb-core aside table th h4 {
    color: var(--white);
}

/** LISTS **/
.sweb-core ul.red-bullet-list li strong {
    text-transform: uppercase;
}
.sweb-core .list-heading {
    font-weight:bold;
    color: #2d3642;
}
.sweb-core ul li:not(.wildcard-item).star-icon::marker {
    content: "⭐" !important;
    display: inline-block;
    font-size: .75em;
    height: .5em;
    width: .5em;
}
.sweb-core ul:not(.bullet) li:not(.wildcard-item)::marker {
    color: #2d3642;
    color: var(--swadefc-heading-dark);
    content: "■";
    font-size: 1.3em;
}
/**
.sweb-core ul:not(.bullet) li:not(.wildcard-item) {
    padding-left:.5em;
}
**/

/** Correct issue with first paragraph bouncing to next line right after a bullet point **/
.journal-entry-content .sweb-core aside.sidebar ul li p:first-of-type, .journal-entry-content .sweb-core aside.sidebar ol li p:first-of-type, .sweb-core .editor-content aside.sidebar ul li p:first-of-type, .sweb-core .editor-content aside.sidebar ol li p:first-of-type, .sweb-core details .content.description aside.sidebar ul li p:first-of-type, .sweb-core details .content.description aside.sidebar ol li p:first-of-type, .sweb-core details .content>.description aside.sidebar ul li p:first-of-type, .sweb-core details .content>.description aside.sidebar ol li p:first-of-type {
    display: inline;
}

/** Having first word closer to the bullet point **/
.journal-entry-content .sweb-core aside.sidebar ul li p, .journal-entry-content .sweb-core aside.sidebar ol li p, .sweb-core .editor-content aside.sidebar ul li p, .sweb-core .editor-content aside.sidebar ol li p, .sweb-core details .content.description aside.sidebar ul li p, .sweb-core details .content.description aside.sidebar ol li p, .sweb-core details .content>.description aside.sidebar ul li p, .sweb-core details .content>.description aside.sidebar ol li p {
    padding-left: 1ch;
}

/** If first word or phrase is bolded make a red header **/
.sweb-core ul.red-bullet-list li p strong:first-of-type {
   color: var(--red);
}